<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">MyApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">ダッシュボード</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login_history">ログイン履歴</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock_search">株価検索</a>
          </li>
          {% if request.cookies.user_id %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">ログアウト</a>
          </li>
          {% endif %}
        </ul>
        {% if request.cookies.username %}
          <span class="navbar-text ms-3">ようこそ{{ request.cookies.user_id }}：{{ request.cookies.username }}さん</span>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
</body>
</html>
